@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color: black;
    --second-bg-color: #112e42;
    --text-color: white;
    --main-color: #00abf0;
}

body {
    align-items: center;
    overflow-x: hidden;
    display: flexbox;

}

.banner {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
    padding-left: 50px;
    padding-right: 50px;

    z-index: 1;
}

.banner ul {
    width: 97%;
    height: 50%;
    margin-top: -13px;
    list-style: none;
    align-items: right;
    text-align: right;
}

.banner ul li {
    display: inline;
    margin-left: 50px;
    font-size: 25px;
}

.banner ul li a {
    color: #00abf0;
    font-size: 27px;
    font-weight: 500;
}


.banner h2 {
    width: 50%;
    height: 50%;
    padding-top: 40px;
    font-size: 35px;
}



.P1 {
    position: relative;
    padding-top: 300px;
    padding-left: 200px;
    max-height: auto;
    width: 100%;

    z-index: 0;
}

.P1 h1 {
    width: 800px;
    height: 220px;
    font-size: 170px;
}

.P1 p {
    width: 600px;
    height: 400px;
    margin-left: 20px;
    font-size: 30px;
}

.P1 img {
    margin-left: 1400px;
    margin-top: -570px;
}



.P2 {
    background: black;
    width: 100%;
    height: 1300px;
}


.P2 h3 {
    margin-top: 300px;
    margin-bottom: 100px;
    padding-top: 100px;
    align-items: center;
    text-align: center;
    font-size: 100px;
    color: var(--text-color);

}

.P2 p {
    color: var(--text-color);
    padding-top: 70px;
    height: 500px;
    font-size: 30px;
    text-align: center;
    width: 75%;
    margin-left: 11%;
    
}

.P2 span {
    color: #00abf0;
}



.P3 {
    background: white;
    width: 100%;
    height: 1250px;
    align-items: center;
    text-align: center;
}


.P3 h3 {
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
    font-size: 100px;
    color: black;

}
    
.P3 p {
    color: black;
    padding-top: 70px;
    height: 500px;
    font-size: 30px;
    text-align: center;
    width: 75%;
    margin-left: 11%;
}

.P3 img {
    margin-top: -250px;
    width: 1200px;
}

.P3 span {
    color: #00abf0;
}



.P4 {
        background: black;
        width: 100%;
        height: 1300px;

}

.P4 ul {
    list-style: none;
    width: 100%;
}

.P4 ul li {
    display: inline;
    margin-left: 450px;
    font-weight: 500;
    font-size: 40px;
    
}

.P4 ul li a {
    color:#00abf0;
}

